.nav-item-wrapper{
    display: flex;
    padding: 2px;
}

.navbar-main{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    padding-top: 15px;
}

.nav-links{
    display: flex;
}

.nav-link:hover{
    text-decoration: underline;
}

.nav-item{
    font-weight: bold;
}

ul li.active-link{
    text-decoration:underline;
}

@media(max-width: 800px){
   .navbar-main{
       display: none;
   }
}

.nav-top-left{
    width: 120px;
}