.stick_follow_icon {
   bottom: 3%;
    left: 1px;
    position: fixed;
    width: 5%;
   
}

.stick_follow_icon ul {
    list-style: none;
    padding: 0;
    margin: 0;
   
}

.stick_follow_icon svg {
    width: 2.3em;
    height: 4.3em;
    fill: var(--text-color)
}

.stick_follow_icon p {
    top: 70px;
    left: -24px;
    width: 68px;
    height: 20px;
    color: var(--text-color);
    font-size: 17px;
    font-weight: 600;
    line-height: 1.2;
    white-space: nowrap;
    position: relative;
    transform: rotate( -90deg);
}

.stick_follow_icon ul li {
    display: block;
    font-size: 17px;
    text-align: center;
    transition: all .3s;
}



@media only screen and (max-width: 760px) {
    .stick_follow_icon {
        display: none;
    }
}

@media screen and (max-width: 1120px) {
    .stick_follow_icon{
        display: none;
    }
  }